.table_image{
    height: 40px;
    width: 40px;
}

.react-bootstrap-table table {
    table-layout: auto;
}

.inactive{
    background: rgba(255, 0, 0, 0.36);
}
.active1{
    background: rgba(0, 0, 255, 0.37);
}
.verified{
    background: rgba(39, 174, 96, 0.51);
}

.badge.badge-dot {
    width: 9px;
    height: 9px;
    border-radius: 50px;
    padding: 2px;
}